html, body {
    overflow-x: hidden;
    }
body {
    font-family: 'Gentium Book Basic', serif;
    color: white;
    background-color: #1A1A1D;
}

body p {
    font-family: 'Roboto Condensed', sans-serif;
}

#main-nav > .main-nav-box {
    width: 0%;
    height: 0rem;
}

#main-nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1.5rem;
    margin-right: 1rem;
}

#main-nav button {
    font-size: 1.5rem;
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 0 2px 1px white;
    background-color: #333;
    padding: 0.6rem 0.3rem;
    margin-top: 2.5rem;
    width: 15rem;
}

#main-nav button:hover {
    background-color: white;
    border-color: #1A1A1D;
    color: #1A1A1D;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#main-nav > .headline-title {
    text-align: center;
    margin: 4rem 0rem 6rem 0rem;
}

/* Dropdown menu*/

.dropdown-projects, .dropdown-contactme {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 145px;
    margin-left: 0.25rem;
    box-shadow: 0 0 4px 3px white;
    z-index: 1;
    width: 100%;
    overflow: auto;
}

.dropdown-projects a, .dropdown-contactme a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

#main-nav>ul>.myprojects:hover .dropdown-projects, #main-nav>ul>.contactme:hover .dropdown-contactme {
    display: block;
}

.dropdown-projects, .dropdown-contactme {
    background-color: #333;
}

.dropdown-projects a, .dropdown-contactme a{
    color: white;
}

.project1:hover, .project2:hover , .project3:hover, .project4:hover, .project5:hover, .form:hover {
    background-color: white;
    border: 0.3rem solid #1A1A1D;
    color: #1A1A1D;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* UNDO THIS FOR SHOWING THE UNDER CONSTRUCTION */
.projectUC:hover{
    display: none;
}
/* UNDO THIS FOR SHOWING THE UNDER CONSTRUCTION END*/

/* Dropdown menu end*/

.virelabs, .coderunner, .diginepsy, .knightrider, .mazerunner, .virelabs2, .rosproject {
    background-color: #333;
    margin: 5rem 5rem 1rem 5rem;
    padding: 4rem;
    box-shadow: 0 0 4px 3px white; 
}

/* UNDO THIS FOR SHOWING THE UNDER CONSTRUCTION */

.mazerunner {
    display: none;
}

/* UNDO THIS FOR SHOWING THE UNDER CONSTRUCTION */

.morevirelabs, .morecoderunner, .morediginepsy, .moreknightrider, .moremazerunner, .morevirelabs2, .morerosproject {
    color: white;
}

.morevirelabs:hover, .morecoderunner:hover, .morediginepsy:hover, .moreknightrider:hover, .moremazerunner:hover, .morevirelabs2:hover, .morerosproject:hover {
    color: #0fffb7;
    text-decoration: none;
}

.allprojects h1, p{
    text-align: center;
}

.allprojects h1 {
    margin-bottom: 5rem;
}

.allprojects .projects-description p {
    margin-bottom: 5rem;
}

#footer > .copyright {
    text-align: center;
    font-weight: bold;
    background-color: #1A1A1D;
    padding: 1.5rem 0rem 0.5rem 0rem;
    margin: 0 auto;
}








/* Tablets */
/* For screens smaller than 1220px */
@media screen and (max-width: 1220px) {
    body {
        align-items: center;
        margin: auto;
    }

    #main-nav ul {
        margin-right: 3rem;
    }

    #main-nav button {
        width: auto;
        font-size: auto;
    }

    .dropdown-projects, .dropdown-contactme {
        width: auto;
        font-size: auto;
        max-width: 90px;
        margin-left: 1.05rem;
    }

    .dropdown-contactme {
        width: 9.5%;
    }

    #main-nav > a > .banner {
        width: 100%;
        min-height: 170px;
    }

    .virelabs {
        margin-bottom: -3rem;
    }

    #footer > .copyright {
        margin-top: 5rem;
        font-size: small;
        width: 100%;
    }
}






/* Smartphones */
/* For screens smaller than 750px */
@media screen and (max-width: 750px) {
    body {
        align-items: center;
        margin: auto;
    }
    
    #main-nav > ul{
        justify-content: center;
        margin-right: 4.6rem;
    }

    #main-nav button {
        font-size: 0.55rem;
        margin-right: 1.5rem;
        margin-left: 0.5rem;
        width: 100%;
        border: none;
    }

    #main-nav > ul > li > a > button > span {
        display: none;
    }

    #main-nav > ul > .first {
        margin: 0rem 0.1rem;
    }
    
    #main-nav > ul > .middle {
        margin: 0rem 0.1rem;
    }

    #main-nav > ul > .last {
        margin: 0rem 0.1rem;
    }

    #main-nav > a > .banner {
        width: 100%;
        min-height: 90px;
    }

    .dropdown-projects, .dropdown-contactme {
        width: 100%;
        font-size: 0.5rem;
        max-width: 50px;
        margin-left: 1.05rem;
    }

    .virelabs {
        margin-bottom: -11%;
    }

    .allprojects h1{
        font-size: 2.5rem;
        text-align: center;
    }
}




/* Desktop pc */
/* For screens bigger than 1350px */
@media screen and (min-width: 1350px) {

    #main-nav > a > .banner {
        width: 100%;
        min-height: 350px;
    }
}



/* Laptop */
/* For screens smaller than 1350px */
@media screen and (max-width: 1350px) {
    
}